.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: white;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__brand {
  font-size: 24px;
  font-weight: bolder;
  color: black;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__signin {
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
  width: 200px;
  height: 38px;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  align-items: center;
  transition: all 0.3s ease;
  border: 0.5px solid rgb(220, 220, 220);
  border-radius: 10px;
  font-weight: bold;
}

.header__signin:hover {
  background-color: var(--themeColor);
  color: var(--background);
}

.header__join {
  background-color: var(--themeColor);
  color: var(--background);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
}

.header__join:hover {
  background-color: var(--themeHoverColor);
}

.header__icon-wrapper {
  background-color: black;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.header__left img {
  border-radius: 50%;
}

/* Responsive behavior */
@media (max-width: 600px) {
  .header {
    align-items: center;
    padding: 5px 10px;
  }

  .header__signin {
    font-size: 15px;
    margin-top: -5px;
  }

  .header__brand {
    font-size: 24px;
  }

  .header__join {
    display: none;
  }

  .header__logo {
    width: 22px;
    height: 22px;
    display: block;
  }

  .header__icon-wrapper {
    width: 35px;
    height: 35px;
  }

  .header__right {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
