.category-section {
  padding: 60px 20px;
  background-color: var(--background);
  text-align: center;
}

.category-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1350px;
  margin: 0 auto;
  row-gap: 30px;
  column-gap: 25px;
}

.category-card {
  background: var(--background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  cursor: pointer;
  border: 0.5px solid #eaeaea;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-image {
  height: 130px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: filter 0.3s ease, brightness 0.3s ease;
}

.category-image:hover {
  filter: brightness(0.5) drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
}

.category-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--background);
  padding: 8px;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.category-label {
  padding: 20px 15px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
}

.category-label.highlight {
  color: var(--foreground);
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-title {
    font-size: 1.6rem;
  }

  .category-label {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .category-title {
    font-size: 1.4rem;
  }
}

.how-it-works {
  padding: 80px 20px;
  background-color: #f9fafb;
  text-align: center;
}

.how-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.how-subtitle {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
  max-width: 700px;
  margin: 20px auto 40px;
}

.how-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1350px;
  margin: 0 auto;
}

.step-card {
  background: var(--background);
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.step-card:hover {
  transform: translateY(-5px);
}

.step-icon {
  font-size: 2rem;
  background-color: var(--background);
  /* border: 0.5px solid var(--foreground); */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 10px;
}

.step-number {
  background: var(--themeColor);
  color: var(--background);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bolder;
  display: grid;
  place-items: center;
  margin: 20px auto;
}

.step-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.step-desc {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
  margin-top: 20px;
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .how-steps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .how-steps {
    grid-template-columns: 1fr;
  }

  .how-title {
    font-size: 2.3rem;
  }

  .how-subtitle {
    font-size: 1.1rem;
    color: #565a5a;
  }

  .step-card {
    padding: 30px 40px;
  }
}

.gigs-section {
  padding: 50px 20px;
  background-color: #f9fafb;
  text-align: center;
}

.gigs-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.gigs-subtitle {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
}

.gigs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1350px;
  margin: 0 auto;
}

.gig-card {
  background: var(--background);
  border-radius: 10px;
  padding: 25px 20px;
  text-align: left;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all 0.2s ease;
}

.gig-card:hover {
  border: 2px solid var(--themeHoverColor);
}

.gig-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.gig-tag {
  background: var(--themeColor);
  color: var(--background);
  font-weight: 600;
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 999px;
}

.gig-rating {
  font-size: 0.85rem;
  font-weight: 500;
  color: #333;
}

.gig-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 5px;
}

.gig-author {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 10px;
}

.gig-desc {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
}

.gig-meta {
  font-size: 0.85rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.gig-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gig-price {
  font-weight: 700;
  color: var(--themeColor);
  font-size: 1rem;
}

.gig-btn {
  background: var(--foreground);
  color: var(--background);
  font-weight: 600;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.gig-btn:hover {
  background: #3a3a3a;
}

.view-btn button {
  margin-top: 3%;
  font-size: 16px;
  font-weight: bolder;
  padding: 13px 20px;
  background-color: var(--themeColor);
  border: none;
  color: var(--background);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.view-btn button:hover {
  background-color: var(--themeHoverColor);
}

/* Responsive */
@media (max-width: 1024px) {
  .gigs-grid {
    grid-template-columns: 1fr;
  }
}

.sniper-cta {
  background-color: rgb(16 24 39);
  color: #fff;
  padding: 80px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sniper-cta-left,
.sniper-cta-right {
  /* flex: 1; */
  min-width: 300px;
}

.sniper-cta-left h2 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.sniper-cta-left .subtext {
  font-size: 1.2rem;
  color: #d5d3d3;
  margin: 20px auto;
}

.sniper-list {
  list-style: none;
  padding: 0;
  margin: 30px auto;
}

.sniper-list li {
  font-size: 1rem;
  margin: 12px 0;
  color: #fff;
}

.yellow-btn {
  background-color: var(--themeColor);
  color: var(--background);
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.yellow-btn:hover {
  background-color: #fbc02d;
}

.sniper-cta-right {
  background: #fff;
  color: #000;
  padding: 30px;
  border-radius: 12px;
  max-width: 850px;
}

.sniper-cta-right h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sniper-cta-right p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
}

.sniper-stats {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.sniper-stats > div {
  text-align: center;
}

.sniper-stats h4 {
  font-size: 1.6rem;
  color: var(--themeColor);
  margin-bottom: 5px;
}

.sniper-stats p {
  font-size: 0.9rem;
  color: #666;
}

/* Responsive */

@media (max-width: 768px) {
  .sniper-cta {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #home-gigs-title {
    margin-top: 0;
  }

  .sniper-cta-right {
    max-width: 100%;
    margin-top: 30px;
  }

  .sniper-stats {
    flex-direction: column;
    align-items: center;
  }
}

.projects-section {
  padding: 80px 20px;
  background-color: #fff;
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.projects-subtitle {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1350px;
  margin: 0 auto;
}

.project-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
}

.project-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.project-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 15px;
}

.project-author {
  font-size: 0.95rem;
  color: hsl(215deg 13.79% 34.12%);
  font-weight: 500;
  margin-bottom: 10px;
  padding: 13px 0;
}

.project-tag {
  display: inline-block;
  background: var(--themeColor);
  color: var(--background);
  font-weight: 600;
  font-size: 0.8rem;
  padding: 6px 14px;
  border-radius: 999px;
}

svg#logo-icon {
  stroke: var(--background);
}

/* Responsive */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .sniper-cta-left {
    text-align: left;
  }

  .project-image {
    height: 220px;
  }
}

.stats-section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}

.stat-box {
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
  border: 1px solid #cbcbcb;
}

.stat h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat p {
  font-size: 1rem;
  color: #607d8b;
}

.main-page {
  max-width: 100% !important;
}

/* Responsive */
@media (max-width: 768px) {
  .stat-box {
    flex-wrap: unset;
    gap: 30px;
    padding: 30px 20px;
    border-radius: unset;
  }

  .stat p {
    font-size: 13px;
  }

  .stat h3 {
    font-size: 1.6rem;
  }
}

.snipers-support-section {
  background: linear-gradient(to right, #0c0e12, #111827);
  padding: 100px 20px;
  text-align: center;
  color: #fff;
}

.snipers-icon {
  background-color: var(--themeColor);
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
}

#logo-icon {
  stroke: #000;
  width: 40px;
  height: 40px;
}

.snipers-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.snipers-desc {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
  color: #cbd5e1;
  line-height: 1.6;
}

.snipers-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.snipers-btn {
  background-color: var(--themeColor);
  color: var(--background);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 14px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.snipers-btn:hover {
  background-color: var(--themeHoverColor);
}

.snipers-trust {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: #94a3b8;
}

.snipers-avatars {
  display: flex;
  align-items: center;
  gap: -10px;
  margin-left: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -8px;
  display: inline-block;
}

.avatar.yellow {
  background: var(--themeColor);
}

.avatar.orange {
  background: #f59e0b;
}

.avatar.dark {
  background: #1e293b;
}

.avatar.number {
  background: var(--themeColor);
  color: var(--background);
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
  .snipers-title {
    font-size: 1.8rem;
  }

  .snipers-desc {
    font-size: 1rem;
  }

  .snipers-cta {
    gap: 20px;
  }
}
